<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Forgot Password</title>
</head>

<body>

<div layout:fragment="content">
    <section class="contact-section px-3 py-5 p-md-5">
        <div class="container">
            <form id="forgot-password-form" class="contact-form col-lg-8 mx-lg-auto" method="post" th:action="@{/auth/forgot-password}" th:object="${forgotPasswordRequest}">
                <h3 class="text-center mb-3">Forgot Password</h3>

                <!--error message-->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Failed to email you reset password instructions!
                    </div>
                </div>

                <!--success message-->
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        We have sent you am email with instructions to reset your password
                        <script type="text/javascript">
                            resetForm("forgot-password-form");
                        </script>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <p>
                            Submit your email below and we will send you an email with instructions to reset your password.
                        </p>
                    </div>

                    <div class="form-group col-12">
                        <label class="sr-only" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="" th:field="*{email}" aria-required="true">
                        <small class="form-text text-danger pt-1" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-block btn-primary py-2">Send Request</button>
                        <small class="form-text text-muted pt-1"><a th:href="@{/auth/login}" >Login </a> to your account.</small>
                    </div>
                </div><!--//form-row-->
            </form>

        </div><!--//container-->

    </section>




</div><!--//main-wrapper-->



</body>
</html>

