<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reset Password</title>
</head>

<body>

<div layout:fragment="content">
    <section class="contact-section px-3 py-5 p-md-5">
        <div class="container">
            <form id="reset-password-form" class="contact-form col-lg-8 mx-lg-auto" method="post" th:action="@{/auth/reset-password}" th:object="${resetPasswordRequest}">
                <h3 class="text-center mb-3">Reset Password</h3>

                <!--error message-->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Failed to reset your password! Please try requesting to reset your password in the <a th:href="@{/auth/forgot-password}">Forgot Password</a> page.
                    </div>
                </div>

                <!--success message-->
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        You've successfully reset your password. You can now <a th:href="@{/auth/login}">Login</a> with your credentials!
                        <script type="text/javascript">
                            resetForm("reset-password-form");
                        </script>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <input type="hidden" class="form-control" id="email" name="email" placeholder="Email" required="" th:field="*{email}" aria-required="true">
                    </div>

                    <div class="form-group col-md-6">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" th:field="*{password}" required="" aria-required="true">
                        <small class="form-text text-danger pt-1" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="sr-only" for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" th:field="*{confirmPassword}" required="" aria-required="true">
                        <small class="form-text text-danger pt-1" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></small>
                    </div>

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-block btn-primary py-2">Reset Password</button>
                        <small class="form-text text-muted pt-1"><a th:href="@{/auth/login}" >Login </a> to your account.</small>
                    </div>
                </div><!--//form-row-->
            </form>

        </div><!--//container-->

    </section>




</div><!--//main-wrapper-->

</body>
</html>

