<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!--Footer-->

<footer class="footer text-center py-4" th:fragment="footer" id="footer">
    <small class="copyright">Copyright &copy; Lemutugi 2022</a></small>
</footer>
<!--/Footer-->

<!--Admin footer-->
<footer class="main-footer" th:fragment="admin-footer" xmlns:th="http://www.thymeleaf.org">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; Lemutugi 2022</a></strong> All rights reserved.
</footer>

</body>
</html>