<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/main_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Home</title>
</head> 

<body>
	
	<div layout:fragment="content" class="container">

		<h1>Welcome home</h1>

		<a th:href="@{/admin/}">Admin Panel</a>
		<br>
		<br>
		<a th:href="@{/auth/login}">Login</a>
		
	</div><!--//main-wrapper-->


	
</body>
</html> 

